<div class="wrapper">
  <div class="about-us">
    <h2>About Us</h2>
    <div class="about-us-content">
      <p>
        Welcome to <strong>R&C Services</strong>, your premier destination for
        cleaning, repair, build services, and a platform for users to post their
        own services.
      </p>
      <p>
        At <strong>R&C Services</strong>, we're dedicated to providing
        top-quality solutions tailored to your needs while also empowering
        individuals to offer their expertise through our platform.
      </p>
    </div>
  </div>
  <div class="our-mission">
    <h2>Our Mission</h2>
    <div class="missions">
      <p>
        Our mission is to create a thriving community where individuals can
        access high-quality services and share their own skills and services
        with others. We're committed to fostering connections and promoting
        excellence in every service offered through our platform.
      </p>
      <img src="../../../assets/lamp-full-of-ideas.png" alt="" />
    </div>
  </div>
  <div class="our-services">
    <h2>Our Services</h2>
    <div class="services-wrapper">
      <p>
        <strong>Cleaning Services:</strong> From routine maintenance to
        intensive deep cleaning, our expert team ensures your space is
        immaculate, promoting a healthy and welcoming environment.
      </p>

      <p>
        <strong>Build Services:</strong> Looking to transform your space? Our
        build services cover everything from remodeling and renovations to new
        constructions, bringing your vision to life with quality craftsmanship
        and attention to detail.
      </p>
      <p>
        <strong>Repair Services:</strong> Whether it's a minor fix or a major
        renovation, trust our skilled technicians to handle any repair project
        with precision and professionalism.
      </p>
      <p>
        <strong>User-Posted Services:</strong> Join our community and explore a
        diverse range of services posted by individuals just like you. Whether
        you're looking for specialized expertise or want to share your own
        skills, our platform provides a space to connect and collaborate.
      </p>
    </div>
  </div>
  <div class="why-choose-us">
    <h2>Why Choose Us?</h2>
    <div class="why-choose-wrapper">
      <p>
        <strong>Experience:</strong>With years of experience in the industry, we
        have the knowledge and expertise to tackle any project, no matter the
        size or complexity.
      </p>
      <p>
        <strong>Dedication:</strong>We are dedicated to fostering a supportive
        community where individuals can thrive and access the services they need
        to enhance their lives.
      </p>
      <p>
        <strong>Quality Assurance:</strong>From the services we offer to the
        user-posted services on our platform, we prioritize quality and
        excellence in everything we do.
      </p>
      <p>
        <strong>Customer Satisfaction:</strong>Your satisfaction is our
        priority. We value your feedback and strive to ensure you have a
        positive experience, whether you're accessing services or offering your
        own expertise.
      </p>
    </div>
  </div>
  <div class="get-involved">
    <h2>Get Involved</h2>
    <div class="involved-wrapper">
      <p>
        Ready to join our community or post your own services? Sign up today to
        get started. Whether you're looking for services or want to share your
        skills, <strong>R&C Services</strong> is here to help you connect with
        others and achieve your goals!
      </p>
      <a routerLink="/user/register">GET INVOLVED</a>
    </div>
  </div>
</div>
