.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box .form-group {
  margin-bottom: 15px;
}

/* Add some space between the Password and Repeat Password fields */
.register-box .form-group:last-child {
  margin-bottom: 0;
}
.register-box .invalid .form-control {
  border-color: red !important;
}

.egister-box .invalid .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

.form-control-failed {
  border: 1px solid red;
  background-color: #ffe6e6;
  color: #721c24;
  border-radius: 8px;
}
