<div class="wrapper">
  <div class="dimmer"></div>
  <div class="toggle-container">
    <button
      class="toggle-button"
      [class.active-left]="(buttonState$ | async) === 'left'"
      (click)="toggleLeft()"
    >
      OUR SERVICES
    </button>
    <button
      class="toggle-button"
      [class.active-right]="(buttonState$ | async) === 'right'"
      (click)="toggleRight()"
    >
      COMMUNITY SERVICES
    </button>
  </div>
  <div class="card-wrapper">
    <app-spinner [isLoading]="isLoading" />
    <div class="content-wrapper" *ngFor="let service of services">
      <app-service-card [service]="service" />
    </div>
  </div>
</div>
