<div class="wrapper">
  <div class="box">
    <app-spinner [isLoading]="isLoading" />

    <div *ngIf="!isLoading" class="content-warpper">
      <img src="{{ service.imageUrl }}" alt="" />
      <div class="separator"></div>
      <div class="content">
        <h2>Name Of Service: {{ service.name }}</h2>
        <h3>Price: {{ service.price }}$</h3>
        <p><strong>Description: </strong>{{ service.description }}</p>
      </div>
    </div>

    <div *ngIf="!isLoading" class="buttons">
      <button *ngIf="user && service.ownerId == user?.id" class="edit">
        EDIT
      </button>
      <button *ngIf="user && service.ownerId == user?.id" class="delete">
        DELETE
      </button>
      <button
        (click)="handleAddToCart()"
        *ngIf="
          user && service.ownerId !== user?.id && !checkIfAvailableInCart()
        "
        class="add-to-cart"
      >
        ADD TO CART
      </button>
      <button
        *ngIf="checkIfAvailableInCart()"
        (click)="removeItemFromCart()"
        class="remove-from-cart"
      >
        REMOVE FROM CART
      </button>
    </div>
  </div>
</div>
