.ml-auto {
  margin-left: auto !important;
}

.nav-link-with-animation {
  margin-right: 15px;
}

.nav-link-with-animation:hover {
  background-color: #555;
  border-radius: 5px;
}
.bold-nav-link {
  font-weight: bold;
}
