.edit-song-container {
  max-width: 600px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-song-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.edit-song-container .form-control {
  margin-bottom: 15px;
  padding: 10px;
}

.edit-song-container button {
  margin-top: 30px;
}
.edit-song-container .invalid .form-control {
  border-color: red !important;
}

.edit-song-container button {
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
}

.edit-song-container button:hover {
  transform: translateY(-3px);
}
