<div class="wrapper">
  <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="register()" (change)="checkPasses()">
      <h1>Sign up</h1>
      <div class="input-wrapper">
        <div *ngIf="isRegisterFailed">
          <span class="invalid">This Email Is Already In Use</span>
        </div>
        <div
          *ngIf="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
          class="invalid"
        >
          <span *ngIf="form.get('email')?.hasError('required')"
            >Email Is Required</span
          >
          <span *ngIf="form.get('email')?.hasError('email')"
            >Invalid Email</span
          >
        </div>
        <label for="email"
          ><span><i class="fa-regular fa-envelope"></i></span
        ></label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          placeholder="Your Email"
        />
        <hr
          [ngClass]="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
              ? 'wrong'
              : ''
          "
        />
      </div>
      <div formGroupName="passGroup">
        <div class="input-wrapper">
          <div
            *ngIf="
              form.get('passGroup')?.get('password')?.invalid &&
              (form.get('passGroup')?.get('password')?.dirty ||
                form.get('passGroup')?.get('password')?.touched)
            "
            class="invalid"
          >
            <span
              *ngIf="
                form.get('passGroup')?.get('password')?.hasError('required')
              "
              >Password Is Required</span
            >
            <span
              *ngIf="
                form.get('passGroup')?.get('password')?.hasError('minlength')
              "
              >Password Must Be Atleast 6 Characters</span
            >
          </div>
          <label for="password"
            ><span><i class="fa-solid fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            placeholder="Password"
          />
          <hr
            [ngClass]="
              form.get('passGroup')?.get('password')?.invalid &&
              (form.get('passGroup')?.get('password')?.dirty ||
                form.get('passGroup')?.get('password')?.touched)
                ? 'wrong'
                : ''
            "
          />
        </div>
        <div class="input-wrapper">
          <div
            *ngIf="
              form.get('passGroup')?.get('rePassword')?.invalid &&
              (form.get('passGroup')?.get('rePassword')?.dirty ||
                form.get('passGroup')?.get('rePassword')?.touched)
            "
            class="invalid"
          >
            <span
              *ngIf="
                form.get('passGroup')?.get('rePassword')?.hasError('required')
              "
              >Repeat Password Is Required</span
            >
          </div>
          <div>
            <span *ngIf="!isPassMatch" class="invalid"
              >Passwords Don't Match</span
            >
          </div>
          <label for="rePassword"
            ><span><i class="fa-solid fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="rePassword"
            id="rePassword"
            formControlName="rePassword"
            placeholder="Repeat your password"
          />
          <hr
            [ngClass]="
              form.get('passGroup')?.get('rePassword')?.invalid &&
              (form.get('passGroup')?.get('rePassword')?.dirty ||
                form.get('passGroup')?.get('rePassword')?.touched)
                ? 'wrong'
                : ''
            "
          />
        </div>
      </div>
      <div class="input-wrapper">
        <input
          type="checkbox"
          name="terms-checkbox"
          id="terms-checkbox"
          formControlName="termsCheckbox"
        />
        <label for="terms-checkbox"
          >I agree all statements in
          <a routerLink="#">Terms of service</a></label
        >
      </div>
      <button
        [disabled]="form.invalid"
        [style]="{ opacity: form.invalid ? '50%' : '100%' }"
      >
        REGISTER
      </button>
    </form>
    <div class="image-wrapper">
      <img src="../../../assets/masty-pc.png" alt="" />
      <a routerLink="/user/login">I am already member</a>
    </div>
  </div>
</div>
