<div class="wrapper">
  <img src="{{ service.imageUrl }}" alt="Service Photo" />
  <div class="content-wrapper">
    <h2>{{ service.name }}</h2>
    <h3>{{ service.price }}$</h3>
    <div class="button-wrapper">
      <button
        (click)="handleAddToCart()"
        *ngIf="cart && !checkIfAvailableInCart() && !isOwner()"
      >
        ADD TO CART
      </button>
      <button (click)="removeItemFromCart()" *ngIf="checkIfAvailableInCart()">
        REMOVE FROM CART
      </button>
      <button (click)="handleDetails()">DETAILS</button>
    </div>
  </div>
</div>
