<div class="main-wrapper">
  <div class="wrapper-main-img">
    <div class="dimmer"></div>
    <h1>
      WE BUILD. <br />
      WE CLEAN. <br />
      WE REPAIR.
    </h1>
  </div>
  <div class="company-info">
    <h1>
      Welcome to R&C Services - Your Trusted Partner for Cleaning and Repair
      Services
    </h1>
    <div class="our-services">
      <h2>OUR SERVICES</h2>
      <div class="our-services-wrapper">
        <p>
          <strong>Cleaning Services:</strong> From regular maintenance cleaning
          to deep cleaning sessions, we offer a comprehensive range of cleaning
          services to keep your space spotless and sanitized.
        </p>
        <p>
          <strong>Repair Services:</strong> Need a quick fix or a major repair?
          Our skilled technicians are equipped to handle a wide range of repair
          tasks efficiently and effectively.
        </p>
      </div>
    </div>
    <div class="why-choose-us">
      <h2>WHY CHOOSE US?</h2>
      <div class="why-choose-us-wrapper">
        <p>
          <strong>Professionalism:</strong> Our team consists of trained
          professionals who are committed to delivering exceptional results with
          every service we provide.
        </p>
        <p>
          <strong>Reliability:</strong> Count on us to be there when you need
          us. We prioritize punctuality and reliability to ensure your
          satisfaction.
        </p>
        <p>
          <strong>Customized Solutions:</strong> We understand that every space
          is unique. That's why we offer customized solutions tailored to your
          specific requirements.
        </p>
        <p>
          <strong>Affordability:</strong> Quality service shouldn't break the
          bank. We strive to offer competitive pricing without compromising on
          quality.
        </p>
      </div>
    </div>
  </div>
</div>
