body {
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 3px solid black;
}
header h1 {
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 40px;
}
article {
  padding: 2rem;
}
article p {
  margin-bottom: 2rem;
  line-height: 1.2;
}
footer {
  color: #fff;
  background-color: rgb(102, 102, 102);
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  margin-left: 1rem;
}
