<div class="wrapper">
  <div class="box">
    <app-spinner [isLoading]="isLoading" />
    <div *ngIf="services.length > 0 && !isLoading" class="content-wrapper">
      <div *ngFor="let service of services" class="card">
        <app-service-card [service]="service" />
      </div>
    </div>
    <div *ngIf="!isLoading" class="buttons-wrapper">
      <div *ngIf="services.length === 0" class="no-items">
        <h1>NO ITEMS IN CART</h1>
        <a routerLink="/services/catalog">Browse Services</a>
      </div>
      <div class="end-wrapper">
        <h3 *ngIf="services.length > 0">
          Total Price Of Services: {{ getTotalPrice() }}$
        </h3>
        <button *ngIf="services.length > 0" (click)="handleCheckout()">
          CHECKOUT
        </button>
      </div>
    </div>
  </div>
</div>
