<div class="wrapper">
  <div class="logo-wrapper">
    <a routerLink="/home">logo</a>
  </div>
  <div class="contact-us">
    <h5>CONTACT US</h5>
    <p>Central Office</p>
    <p class="contact-us-description">Wall Street №69</p>
    <p class="contact-us-description">
      Work Time: 9:00 - 18:00 From Monday To Friday
    </p>
  </div>
  <div class="terms">
    <h5>GENERAL TERMS</h5>
    <h5>GENERAL TERMS OF USE</h5>
    <h5>PAYMENT METHODS</h5>
  </div>
  <div class="socials">
    <a href="https://www.instagram.com/"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.facebook.com/"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://mail.google.com/">
      <i class="fa-regular fa-envelope"></i>
    </a>
  </div>
</div>
