<div class="nav-wrap">
  <div class="logo-wrapper">
    <a routerLink="/home">logo</a>
  </div>
  <div class="weather">
    <h3>Current Weather</h3>
    <ul>
      <li><i class="fa-solid fa-location-dot"></i> City: {{ weather.name }}</li>
      <li>
        <i class="fa-solid fa-temperature-three-quarters"></i> Temp:
        {{ weather.main?.temp | degrees }}&deg;
      </li>
      <li>
        <i class="fa-solid fa-droplet"></i> Humidity:
        {{ weather.main?.humidity }}%
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/services/catalog">Services</a>
      </li>
      <li>
        <a routerLink="/about-us">About us</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/user/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/user/login">Login</a>
      </li>

      <li *ngIf="isLoggedIn">
        <a routerLink="/user/cart">My Cart</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/services/add">Add Service</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/user/profile">My Profile</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="/user/logout" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
