<div class="nav-wrap">
  <div class="logo-wrapper">
    <a routerLink="/home">logo</a>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/services/catalog">Services</a>
      </li>
      <li>
        <a routerLink="/about-us">About us</a>
      </li>
      <li>
        <a routerLink="/user/register">Register</a>
      </li>
      <li>
        <a routerLink="/user/login">Login</a>
      </li>
      <li>
        <a routerLink="/user/logout">Logout</a>
      </li>
    </ul>
  </nav>
</div>
