body {
  margin: 0;
  padding: 0;
  background-image: url('../../public/music_concert-wallpaper-2560x1440.jpg'); /* Replace with your image file path */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
