body {
  font-family: Helvetica, sans-serif;
  margin: 50px;
}
li a {
  text-decoration: none;
  color: rgba(71, 198, 71);
  font-size: 16px;
  font-weight: 500;
}
nav ul li {
  display: inline;
  list-style: none;
  margin-right: 15px;
}
nav h1 {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 50px;
}
nav ul {
  display: inline-block;
  margin-left: 3em;
  text-align: center;
}
nav {
  border-bottom: 2px solid #0f0f0f;
}
main h1 {
  font-family: serif;
  font-weight: 400;
}
